<div class="container-fluid text-center">
	<div id="title-container">
		<h1>Words</h1>
	</div>
</div>

<div class="container-fluid text-center">
		<table class="table table-striped">
			<thead>
				<div class="container-fluid text-center"><th>Text</th></div>
				<div class="container-fluid text-center"><th>Letters</th></div>
			</thead>
			<tbody>
				<% @words.each do |word| %>
					<tr>
						<td><a href="<%= "/words/#{word.id}" %>"><%= word.text %></a></td>
						<td><%= word.letters %></td>
						<td><a href="<%= "/words/#{word.id}/edit" %>">Edit</a></td>
						<td>
							<form action="<%= "/words/#{word.id}" %>" method="post">
								<input type="hidden" name="_method" value="delete" />
								<input class="btn btn-danger" type="submit" value="Delete">
							</form>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
</div>

	